// About

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;

  img {
    max-width : 200px;
    border-radius: 15px;
    border: 1px solid #a1c2cd;
    }
}

.about-text {
  max-width : 300px;
  margin-left: 20px;
  text-align: justify;
}

.services {
  margin-top: 20px;
  text-align: center;
}


@media(max-width: 600px) {
  .about {
    display: inline-block;
    text-align: center;
  }

  .about img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 100px;
  }

  .about-text {
    max-width: 250px;
    margin-left: 0px;
  }

  .services {
    max-width: 250px;
    text-align: justify;
  }
}
