// Footer

.footer {
  margin-top: auto;
}

.list-inline {
  list-style: none;
}

.list-inline > li {
display: inline-block;
}

i {
  font-size: 20px;
}


@media(max-width: 500px) {
  .footer {
    position: fixed;
    bottom: 0;
    background-color: #668893;
  }
}
