@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: "Poppins";
  margin-right: 0px;
  margin-left: 0px;
  background-color: #668893;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 10px
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #a1c2cd;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.current {
  color: black;
}

h1 {
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  color: black;
}

h2 {
  color: #a1c2cd;
  font-size: 16px;

  i {
    font-size: 12px;
  }
}

@media(max-width: 600px) {
  .container {
    margin-bottom: 50px;
  }
}
