@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: "Poppins";
  margin-right: 0px;
  margin-left: 0px;
  background-color: #668893;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 10px;
  width: 80%;
  margin: auto 100px;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: #a1c2cd
}

a:hover {
  color: #415d67;
  font-weight: bold;
  text-decoration: none;
}

.current {
  color: #415d67;
}

h1 {
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
  color: black;
}

h2 {
  color: #a1c2cd;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
